@model IEnumerable<GitApp.Mvc.Models.GitResultCommentViewModel>

@{
    ViewData["Title"] = "GitCommentResultView";
}

<h3>List of Commit Comments for the given Repository</h3>

<hr />

<p>
    The below escape characters are removed from the commit message before sorting. <br />
    \n, \t, \r, ., &gt;, &lt; 

</p>

<hr />
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortedWords)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortedWords)
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function() {
        $("#myTable").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
